/*styles for the html tags*/
button,
div,
form,
input {
    margin: 6px;
}

body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    background-color: darkblue;
    padding: 40px;
    margin-top: -5px;
    color: white;
    font-size: 53px;
    font-family: cursive;
}

img {
    width: 250px;
    height: 250px;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid #777;
}

p {
    margin-top: -2px;
    margin-bottom: 0px;
    font-weight: bold;
}

/*-------------------styles for Defined classes--------------------------------*/
.inputForm {
    border: 2px solid gray;
}

.gifsDisplay {
    border: 2px solid gray;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 1165px;
}

#label-gif {
    font-size: 20px;
}


.item {
    width: 270px;
    height: 270px;
    float: left;
    margin-left: 36px;
    margin-right: 0px;
}


